@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    @apply text-dark_primary;
  }
  h1 {
    @apply font-SignikaNegative lg:text-6xl text-3xl font-extrabold;
  }
  h2 {
    @apply font-SignikaNegative text-5xl font-bold;
  }
  h3 {
    @apply font-SignikaNegative text-5xl;
  }
  h4 {
    @apply md:text-4xl text-3xl !leading-relaxed font-SignikaNegative;
  }
  h6 {
    @apply font-SignikaNegative font-bold text-[#253D57] leading-8;
  }

  p {
    @apply font-SignikaNegative text-[0.95rem];
  }
  button {
    @apply font-SignikaNegative;
  }
  input,
  textarea {
    @apply bg-transparent outline-none font-SignikaNegative;
  }
}

@layer utilities {
  .btn {
    @apply py-2 px-9 border-2 rounded-md
      border-dark_primary rounded-br-3xl font-medium;
  }
}
